#spbellen-subscription-form .password-strength {
  display: none;
}

#spbellen-subscription-form .password-suggestions {
  visibility: hidden;
  font-size: 0;
}

#spbellen-subscription-form .password-suggestions ul {
  visibility: visible;
  font-size: 1em;
}
