/* Show the block only after we assigned our show class. */
#block-spbellen-spbellen-campaign-intro-block {
  display: block;
  position: absolute;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}
